.App {
  text-align: center;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 150px;
}
.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.react-root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  border: 2px solid white;
  color: white;
  font-size: 20px;
  height: 75px;
  width: 15vw;
}

.candy {
  background-color: #f20587 ;
  color: white;
}

.blue {
  background-color: #0460d9;
  color: white;
}

.mint {
  background-color: #04d9b2;
  color: white;
}

.lemon {
  background-color: #feee00;
  color: grey;
}

.orange {
  background-color: #f25c05;
  color: white;
}

footer {
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a {
  color: #f25c05;
}

footer a:hover {
  color: #feee00;
}

footer p {
  font-size: 1rem;
  margin: 10px;
}


